In [1]:
import pandas as pd

In [27]:
df = pd.DataFrame({'a':[100,200,100,200],'b':[100,200,300,400]})

In [28]:
df.head()

     a    b
0  100  100
1  200  200
2  100  300
3  200  400

In [29]:
df_calc = df.copy()

In [30]:
df_calc['percentage_sharp_drop'] = (((df.iloc[-2]['a'] - df.iloc[-1]['a']) / df.iloc[-2]['a'] ) * 100)

In [31]:
df_calc.head()

     a    b  percentage_sharp_drop
0  100  100                 -100.0
1  200  200                 -100.0
2  100  300                 -100.0
3  200  400                 -100.0

In [23]:
abs(df.iloc[-2]['a'] - df.iloc[-1]['a'] )

100

In [24]:
 df.iloc[-1]['a']

400

In [18]:
100/400

0.25

In [ ]:
1530

In [47]:
from pathlib import Path
from typing import List, Dict

def _load_tickers(path: str = "../../../resource/tickers.txt") -> List[str]:
    f = Path(path)
    if not f.exists():
        print("Nai desu :V")
        exit(1)
        return ["7203.T", "6758.T", "9984.T", "8306.T", "9432.T"]

    return [
        line.strip()
        for line in f.read_text(encoding="utf‑8").splitlines()
        if line.strip() and not line.lstrip().startswith("#")
    ]

In [48]:
list = _load_tickers()

In [49]:
batch_size = 15
increment = 0
while increment + batch_size < len(list):

    print(list[increment:increment + batch_size])

    increment += batch_size

print(list[increment:len(list)])

['1333.T', '1379.T', '1605.T', '1662.T', '1663.T', '1719.T', '1721.T', '1801.T', '1802.T', '1803.T', '1808.T', '1812.T', '1820.T', '1860.T', '1893.T']
['1911.T', '1925.T', '1928.T', '1942.T', '1944.T', '1951.T', '1959.T', '1963.T', '2002.T', '2201.T', '2206.T', '2212.T', '2222.T', '2229.T', '2264.T']
['2267.T', '2269.T', '2282.T', '2501.T', '2502.T', '2503.T', '2531.T', '2579.T', '2587.T', '2593.T', '2607.T', '2801.T', '2802.T', '2809.T', '2810.T']
['2811.T', '2871.T', '2875.T', '2897.T', '2914.T', '3101.T', '3401.T', '3402.T', '3405.T', '3407.T', '3436.T', '3861.T', '3863.T', '3865.T', '3941.T']
['4004.T', '4005.T', '4021.T', '4042.T', '4043.T', '4061.T', '4063.T', '4063.T', '4088.T', '4091.T', '4118.T', '4151.T', '4182.T', '4183.T', '4186.T']
['4188.T', '4202.T', '4203.T', '4204.T', '4205.T', '4208.T', '4272.T', '4452.T', '4502.T', '4502.T', '4503.T', '4506.T', '4507.T', '4516.T', '4519.T']
['4523.T', '4527.T', '4528.T', '4530.T', '4536.T', '4540.T', '4552.T', '4565.T', '4568.T', '4543.T', '4578.T', '4587.T', '4612.T', '4613.T', '4631.T']
['4661.T', '4681.T', '4689.T', '4887.T', '4901.T', '4911.T', '4912.T', '4922.T', '4927.T', '4967.T', '4980.T', '5019.T', '5020.T', '5021.T', '5076.T']
['5101.T', '5105.T', '5108.T', '5110.T', '5201.T', '5214.T', '5232.T', '5233.T', '5301.T', '5332.T', '5333.T', '5334.T', '5401.T', '5406.T', '5411.T']
['5423.T', '5444.T', '5463.T', '5471.T', '5706.T', '5711.T', '5713.T', '5714.T', '5727.T', '5801.T', '5802.T', '6146.T', '6301.T', '6326.T', '6361.T']
['6201.T', '6367.T', '6479.T', '6501.T', '6586.T', '6503.T', '6505.T', '6506.T', '6508.T', '6526.T', '6541.T', '6549.T', '6574.T', '6592.T', '6594.T']
['6606.T', '6619.T', '6620.T', '6640.T', '6644.T', '6645.T', '6648.T', '6659.T', '6694.T', '6701.T', '6702.T', '6723.T', '6724.T', '6732.T', '6750.T']
['6752.T', '6753.T', '6754.T', '6755.T', '6758.T', '6758.T', '6762.T', '6770.T', '6773.T', '6787.T', '6794.T', '6798.T', '6806.T', '6807.T', '6817.T']
['6837.T', '6841.T', '6851.T', '6856.T', '6857.T', '6861.T', '6869.T', '6879.T', '6888.T', '6901.T', '6902.T', '6907.T', '6920.T', '6925.T', '6937.T']
['6951.T', '6954.T', '6955.T', '6963.T', '6965.T', '6967.T', '6971.T', '6981.T', '6988.T', '6988.T', '6988.T', '6991.T', '7201.T', '7202.T', '7203.T']
['7004.T', '7011.T', '7012.T', '7201.T', '7202.T', '7203.T', '7211.T', '7236.T', '7267.T', '7267.T', '7269.T', '7270.T', '7272.T', '7733.T', '7751.T']
['7974.T', '8002.T', '8015.T', '8031.T', '8031.T', '8035.T', '8035.T', '8037.T', '8053.T', '8058.T', '8113.T', '8113.T', '8256.T', '8267.T', '8306.T']
['8308.T', '8316.T', '8411.T', '8591.T', '8601.T', '8604.T', '8630.T', '8725.T', '8750.T', '8766.T', '8801.T', '8802.T', '8830.T', '9020.T', '9021.T']
['9022.T', '9101.T', '9113.T', '9104.T', '9158.T', '9202.T', '9201.T', '9432.T', '9433.T', '9434.T', '9602.T', '9735.T', '9737.T', '9983.T', '9984.T']

In [55]:
!pip install yfinance

shell-init: error retrieving current directory: getcwd: cannot access parent directories: No such file or directory
The folder you are executing pip from can no longer be found.

In [150]:
# data_collector.py – v3 (file‑based persistence)
from __future__ import annotations
from typing import List, Dict, Tuple, Set
from datetime import datetime
from zoneinfo import ZoneInfo
from pathlib import Path

import csv

import yfinance as yf
import pandas as pd
import ta


# ──────────────────────────────────────────────────────────────────────────────
# Configuration
# ──────────────────────────────────────────────────────────────────────────────

TZ = ZoneInfo("Asia/Tokyo")
TODAY: str = datetime.now(TZ).date().isoformat()  # e.g., "2025-05-11"
# ALERTS_FILE: Path = Path(__file__).with_name("data/alerts_log.csv")
ALERTS_FILE: Path = Path("/home/mhr/Documents/programming/trading-bot/tse-trading-bot/devs/pocs/pandas_test/data/alerts_log.csv")


# ──────────────────────────────────────────────────────────────────────────────
# Lightweight file‑based persistence (CSV)
# ──────────────────────────────────────────────────────────────────────────────

# Row schema: alert_date,ticker,alert_type
_alert_cache: Set[Tuple[str, str, str, int]] | None = None


def _load_alert_cache() -> None:
    global _alert_cache
    if _alert_cache is not None:
        return  # already loaded

    _alert_cache = set()
    if ALERTS_FILE.exists():
        with ALERTS_FILE.open("r", newline="") as f:
            reader = csv.reader(f)
            for row in reader:
                if len(row) == 4:
                    _alert_cache.add(tuple(row))


def _already_alerted(ticker: str, alert_type: str, price: int) -> bool:
    _load_alert_cache()
    assert _alert_cache is not None
    return (TODAY, ticker, alert_type) in _alert_cache


def _mark_alert(ticker: str, alert_type: str, price: int) -> None:
    _load_alert_cache()
    assert _alert_cache is not None
    key = (TODAY, ticker, alert_type, price)
    if key in _alert_cache:
        return  # already recorded

    # Append to file first (so even if script crashes later we don’t lose the entry)
    with ALERTS_FILE.open("a", newline="") as f:
        writer = csv.writer(f)
        writer.writerow(key)

    _alert_cache.add(key)

In [151]:
results = []
results.append(
                {
                    "Ticker": "12312.T",
                    "BUY_SIGNAL":"BUY",
                    "Price": 123.12,
                    "BuySignal": "Confluence",
                    "RSI": 45,
                    "MACD Signal": "Buy", 
                    "Support": 120.11,
                    "Resistance": 170.22,
                    "Name": "name",
                }
            )

In [152]:
results[0]['Ticker']

'12312.T'

In [155]:
_already_alerted(ticker=results[0]['Ticker'],
                 alert_type="buy",
                 price=int(results[0]['Price']))

False

In [154]:
_mark_alert(ticker=results[0]['Ticker'],
                 alert_type="buy",
                 price=int(results[0]['Price']))